### Farhad's project (2019-02-25_Farhad_algae_model) modified:
- comments in code
- original raw data files imported and processed within the code
- nan values replaced with numpy nan to leave them in the code

# Importing the libraries we are going to use:

In [41]:
import pandas as pd
import numpy as np
from sklearn.svm import SVR
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
import copy
import sys
print(sys.version)
# #########################


# No warnings about setting value on copy of slice
pd.options.mode.chained_assignment = None

# Machine Learning Models
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor

3.6.5 |Anaconda, Inc.| (default, Apr 26 2018, 08:42:37)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)]

# Reading the raw data and saving it in a variable called: df_algae

In [20]:
df_algae = pd.read_excel('data11.xls') # data11.xls is raw data!
print('**************  df_algae looks like:')
df_algae.head()

**************  df_algae looks like:

,Season,Size,Speed,F1,F2,F3,F4,F5,F6,F7,F8,Algae 1,Algae 2,Algae 3,Algae 4,Algae 5,Algae 6,Algae 7
0,winter,small_,medium,8.00,9.8,60.800,6.238,578.00000,105.000,170.00000,50.0,0.0,0.0,0.0,0.0,34.2,8.3,0.0
1,spring,small_,medium,8.35,8.0,57.750,1.288,370.00000,428.750,558.75000,1.3,1.4,7.6,4.8,1.9,6.7,0.0,2.1
2,autumn,small_,medium,8.10,11.4,40.020,5.330,346.66699,125.667,187.05701,15.6,3.3,53.6,1.9,0.0,0.0,0.0,9.7
3,spring,small_,medium,8.07,4.8,77.364,2.302,98.18200,61.182,138.70000,1.4,3.1,41.0,18.9,0.0,1.4,0.0,1.4
4,autumn,small_,medium,8.06,9.0,55.350,10.416,233.70000,58.222,97.58000,10.5,9.2,2.9,7.5,0.0,7.5,4.1,1.0

In [21]:
headings = ['season','size','speed','mxPH','mnO2','Cl', 'NO3','NH4','oPO4','PO4','Chla','a1'     ,'a2'     ,'a3'     ,'a4'     ,'a5'     ,'a6'     ,'a7'];
headings = ['Season','Size','Speed','F1'  ,'F2'  ,'F3', 'F4' ,'F5' ,'F6'  ,'F7' ,'F8'  ,'Algae 1','Algae 2','Algae 3','Algae 4','Algae 5','Algae 6','Algae 7'];

df_algae = pd.read_csv("algal_bloom.csv",         # algal_bloom.csv is raw data!
                   skiprows=list(range(10)), 
                   names=headings)  
print('**************  df_algae looks like:')
df_algae.head()

**************  df_algae looks like:

,Season,Size,Speed,F1,F2,F3,F4,F5,F6,F7,F8,Algae 1,Algae 2,Algae 3,Algae 4,Algae 5,Algae 6,Algae 7
0,spring,small_,medium,8.35,8,57.75,1.288,370,428.75,558.75,1.3,1.4,7.6,4.8,1.9,6.7,0,2.10000\
1,autumn,small_,medium,8.1,11.4,40.02,5.33,346.66699,125.667,187.05701,15.6,3.3,53.6,1.9,0.0,0.0,0,9.70000\
2,spring,small_,medium,8.07,4.8,77.364,2.302,98.182,61.182,138.7,1.4,3.1,41.0,18.9,0.0,1.4,0,1.40000\
3,autumn,small_,medium,8.06,9,55.35,10.416,233.7,58.222,97.58,10.5,9.2,2.9,7.5,0.0,7.5,4.1,1.00000\
4,winter,small_,high__,8.25,13.1,65.75,9.248,430,18.25,56.667,28.4,15.1,14.6,1.4,0.0,22.5,12.6,2.90000\

In [22]:
headings = ['season','size','speed','mxPH','mnO2','Cl', 'NO3','NH4','oPO4','PO4','Chla','a1'     ,'a2'     ,'a3'     ,'a4'     ,'a5'     ,'a6'     ,'a7'];
headings = ['Season','Size','Speed','F1'  ,'F2'  ,'F3', 'F4' ,'F5' ,'F6'  ,'F7' ,'F8'  ,'Algae 1','Algae 2','Algae 3','Algae 4','Algae 5','Algae 6','Algae 7'];

df_algae = pd.read_csv("original_data/analysis.csv",         # algal_bloom.csv is raw data!
                   #skiprows=list(range(10)), 
                   names=headings)  
print('**************  df_algae looks like:')
df_algae.head()

**************  df_algae looks like:

,Season,Size,Speed,F1,F2,F3,F4,F5,F6,F7,F8,Algae 1,Algae 2,Algae 3,Algae 4,Algae 5,Algae 6,Algae 7
0,winter,small_,medium,8.00000,9.80000,60.80000,6.23800,578.00000,105.00000,170.00000,50.00000,0.0,0.0,0.0,0.0,34.2,8.3,0.0
1,spring,small_,medium,8.35000,8.00000,57.75000,1.28800,370.00000,428.75000,558.75000,1.30000,1.4,7.6,4.8,1.9,6.7,0.0,2.1
2,autumn,small_,medium,8.10000,11.40000,40.02000,5.33000,346.66699,125.66700,187.05701,15.60000,3.3,53.6,1.9,0.0,0.0,0.0,9.7
3,spring,small_,medium,8.07000,4.80000,77.36400,2.30200,98.18200,61.18200,138.70000,1.40000,3.1,41.0,18.9,0.0,1.4,0.0,1.4
4,autumn,small_,medium,8.06000,9.00000,55.35000,10.41600,233.70000,58.22200,97.58000,10.50000,9.2,2.9,7.5,0.0,7.5,4.1,1.0

## Missing Values and Type Conversion

In [23]:
# Replace all occurrences of XXXXXXX with numpy not a number
df_algae = df_algae.replace({'XXXXXXX': np.nan})

# Replace all missing values with numpy not a number
df_algae.fillna(value=pd.np.nan, inplace=True);

# Cast all numerical values as float
for heading in headings[3:]:
    for row in range(df_algae.shape[0]): 
        try:
            df_algae[heading][row] = float(df_algae[heading][row])
            
        except ValueError: 
            try:
                # Trim numbers containing illegal characters 
                # Convert to float
                df_algae[heading][row] = float(df_algae[heading][row][:4])
            except ValueError:
                print(df_algae[heading][row])

# Cast all data as np 64 bit float to allow operations such as logarithms
for heading in headings[3:]:
    df_algae[heading] = df_algae[heading].astype(np.float64)

In [24]:
print(type(df_algae['F1'][5]))

<class 'numpy.float64'>

# Basic info about the dataset:

In [25]:
df_algae.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 18 columns):
Season     200 non-null object
Size       200 non-null object
Speed      200 non-null object
F1         199 non-null float64
F2         198 non-null float64
F3         190 non-null float64
F4         198 non-null float64
F5         198 non-null float64
F6         198 non-null float64
F7         198 non-null float64
F8         188 non-null float64
Algae 1    200 non-null float64
Algae 2    200 non-null float64
Algae 3    200 non-null float64
Algae 4    200 non-null float64
Algae 5    200 non-null float64
Algae 6    200 non-null float64
Algae 7    183 non-null float64
dtypes: float64(15), object(3)
memory usage: 28.2+ KB

# We have some null values which we should deal with; First, let's see where they are:

In [26]:
print(df_algae.isnull().sum())

Season      0
Size        0
Speed       0
F1          1
F2          2
F3         10
F4          2
F5          2
F6          2
F7          2
F8         12
Algae 1     0
Algae 2     0
Algae 3     0
Algae 4     0
Algae 5     0
Algae 6     0
Algae 7    17
dtype: int64

For example, in 12 rows, we do not have the value of F8

# A simple way, is jut to drop the rows with unknown values:

In [27]:
df_algae=df_algae.dropna()
# this will index the rows again. 
# Without this, the indexes will remain the same 
# (The rows won't shift up)
df_algae.index = range(len(df_algae)) 
print ("We have", df_algae.isnull().values.sum(), " row(s) with unknown value now" )

We have 0  row(s) with unknown value now

In [28]:
print('**************  df_algae, after removing the unknown rows, looks like:')
df_algae.head()

**************  df_algae, after removing the unknown rows, looks like:

,Season,Size,Speed,F1,F2,F3,F4,F5,F6,F7,F8,Algae 1,Algae 2,Algae 3,Algae 4,Algae 5,Algae 6,Algae 7
0,winter,small_,medium,8.00,9.8,60.800,6.238,578.00000,105.000,170.00000,50.0,0.0,0.0,0.0,0.0,34.2,8.3,0.0
1,spring,small_,medium,8.35,8.0,57.750,1.288,370.00000,428.750,558.75000,1.3,1.4,7.6,4.8,1.9,6.7,0.0,2.1
2,autumn,small_,medium,8.10,11.4,40.020,5.330,346.66699,125.667,187.05701,15.6,3.3,53.6,1.9,0.0,0.0,0.0,9.7
3,spring,small_,medium,8.07,4.8,77.364,2.302,98.18200,61.182,138.70000,1.4,3.1,41.0,18.9,0.0,1.4,0.0,1.4
4,autumn,small_,medium,8.06,9.0,55.350,10.416,233.70000,58.222,97.58000,10.5,9.2,2.9,7.5,0.0,7.5,4.1,1.0

# Here, we copy the columns that have categorical (non-numeric) data to a new variable called cat_df_algae:

In [29]:
cat_df_algae = df_algae.select_dtypes(include=['object']).copy()# object data type mens categorical data type
df_algae_fin = df_algae.copy()# Just to keep the data set we have safe! Not important!
print('**************  cat_df_algae looks like:')
cat_df_algae.head()

**************  cat_df_algae looks like:

   Season    Size   Speed
0  winter  small_  medium
1  spring  small_  medium
2  autumn  small_  medium
3  spring  small_  medium
4  autumn  small_  medium

# Now, we start label binarizing for the first categorical feature (Size, the first section):

The following 3 sections are the same, each is related to one feature.

In [30]:
#Here, again I just copy the variable to keep it safe. 
cat_df_algae_onehot_sklearn = cat_df_algae.copy()

# This is the function form Sklearn
from sklearn.preprocessing import LabelBinarizer 

lb = LabelBinarizer()

lb_results = lb.fit_transform(cat_df_algae_onehot_sklearn['Size'])

lb_results_df = pd.DataFrame(lb_results, columns=lb.classes_)

# Here, I am attaching the generated labels to the data we had
result_df = pd.concat([lb_results_df,df_algae], axis=1) 

res_1=result_df.copy()

In [31]:
cat_df_algae_onehot_sklearn = cat_df_algae.copy()
from sklearn.preprocessing import LabelBinarizer
lb = LabelBinarizer()
lb_results = lb.fit_transform(cat_df_algae_onehot_sklearn['Speed'])
lb_results_df = pd.DataFrame(lb_results, columns=lb.classes_)
result_df = pd.concat([lb_results_df,df_algae_fin], axis=1)
res_2=result_df.copy()
res_2 = pd.concat([lb_results_df,res_1], axis=1)

In [32]:
cat_df_algae_onehot_sklearn = cat_df_algae.copy()
from sklearn.preprocessing import LabelBinarizer
lb = LabelBinarizer()
lb_results = lb.fit_transform(cat_df_algae_onehot_sklearn['Season'])
lb_results_df = pd.DataFrame(lb_results, columns=lb.classes_)
result_df = pd.concat([lb_results_df,df_algae_fin], axis=1)
res_3=result_df.copy()
res = pd.concat([lb_results_df,res_2], axis=1)

# Finally, we drop the categorical data related columns and write the excel file:

In [33]:
res=res.drop(['Size', 'Season','Speed'], axis=1)
res.to_excel("data/polished_train_data.xls")
res.to_csv("data/polished_train_data.csv", index = False)
res.head()

,autumn,spring,summer,winter,high__,low___,medium,large_,medium,small_,...,F6,F7,F8,Algae 1,Algae 2,Algae 3,Algae 4,Algae 5,Algae 6,Algae 7
0,0,0,0,1,0,0,1,0,0,1,...,105.000,170.00000,50.0,0.0,0.0,0.0,0.0,34.2,8.3,0.0
1,0,1,0,0,0,0,1,0,0,1,...,428.750,558.75000,1.3,1.4,7.6,4.8,1.9,6.7,0.0,2.1
2,1,0,0,0,0,0,1,0,0,1,...,125.667,187.05701,15.6,3.3,53.6,1.9,0.0,0.0,0.0,9.7
3,0,1,0,0,0,0,1,0,0,1,...,61.182,138.70000,1.4,3.1,41.0,18.9,0.0,1.4,0.0,1.4
4,1,0,0,0,0,0,1,0,0,1,...,58.222,97.58000,10.5,9.2,2.9,7.5,0.0,7.5,4.1,1.0

# Now we will do the same for the test data:

- read raw data into data frame
- (new: Missing Values and Type Conversion)
- drop rows with unknown data
- copy columns with catagorical data to new variable
- binarize catagorical data
- remove catagorical data columns 
- save polished data in new file

In [34]:
# Reading the raw data and saving it in a variable called: df_algae
# df_algae = pd.read_excel('eval_result_data.xls') #eval_result_data is the raw test data!
headings = ['Season','Size','Speed','F1'  ,'F2'  ,'F3', 'F4' ,'F5' ,'F6'  ,'F7' ,'F8'  ,'Algae 1','Algae 2','Algae 3','Algae 4','Algae 5','Algae 6','Algae 7'];



df_algae = pd.read_csv("original_data/results.csv",         # algal_bloom.csv is raw data!
                   #skiprows=list(range(10)), 
                   names=headings)

df_algae.head() 

# # Missing Values and Type Conversion
# Replace all occurrences of XXXXXXX with numpy not a number
df_algae = df_algae.replace({'XXXXXXX': np.nan})

# Replace all missing values with numpy not a number
df_algae.fillna(value=pd.np.nan, inplace=True);

# Cast all numerical values as float
for heading in headings[3:]:
    for row in range(df_algae.shape[0]): 
        try:
            df_algae[heading][row] = float(df_algae[heading][row])
            
        except ValueError: 
            try:
                # Trim numbers containing illegal characters 
                # Convert to float
                df_algae[heading][row] = float(df_algae[heading][row][:4])
            except ValueError:
                print(df_algae[heading][row])

# Cast all data as np 64 bit float to allow operations such as logarithms
for heading in headings[3:]:
    df_algae[heading] = df_algae[heading].astype(np.float64)

df_algae.head()

,Season,Size,Speed,F1,F2,F3,F4,F5,F6,F7,F8,Algae 1,Algae 2,Algae 3,Algae 4,Algae 5,Algae 6,Algae 7
0,summer,small_,medium,7.95,5.7,57.333,2.460,273.33301,295.66699,380.000,NaN,1.2,36.5,1.9,0.0,1.2,0.0,28.0
1,winter,small_,medium,7.98,8.8,59.333,7.392,286.66699,33.33300,138.000,7.1,1.2,0.0,0.0,0.0,23.2,46.4,0.0
2,summer,small_,medium,8.00,7.2,80.000,1.957,174.28600,47.85700,113.714,4.5,7.0,23.0,6.5,1.4,21.2,0.0,2.1
3,spring,small_,high__,8.35,8.4,68.000,3.026,458.00000,45.20000,111.800,3.2,1.4,38.2,2.4,0.0,4.8,1.0,1.2
4,spring,small_,medium,8.10,13.2,19.000,0.000,130.00000,6.00000,40.000,2.0,3.9,55.4,8.4,0.0,0.0,0.0,0.0

In [35]:
# Drop rows with unknown data
df_algae=df_algae.dropna()
# this will index the rows again. 
# Without this, the indexes will remain the same 
# (The rows won't shift up)
df_algae.index = range(len(df_algae)) 
print ("We have", df_algae.isnull().values.sum(), " row(s) with unknown value now")
df_algae.head()

# Copy the columns that have categorical data to a new variable called cat_df_algae
# object data type mens categorical data type
cat_df_algae = df_algae.select_dtypes(include=['object']).copy()
# Just to keep the data set we have safe! Not important!
df_algae_fin = df_algae.copy()
cat_df_algae.head()

We have 0  row(s) with unknown value now

   Season    Size   Speed
0  winter  small_  medium
1  summer  small_  medium
2  spring  small_  high__
3  spring  small_  medium
4  summer  small_  medium

In [36]:
# We start label binarizing for the first categorical feature 
# (Size, the first section)
# Here, again I just copy the variable to keep it safe.
cat_df_algae_onehot_sklearn = cat_df_algae.copy() 
from sklearn.preprocessing import LabelBinarizer 
lb = LabelBinarizer()
lb_results = lb.fit_transform(cat_df_algae_onehot_sklearn['Size'])
lb_results_df = pd.DataFrame(lb_results, columns=lb.classes_)
# Here, I am attaching the generated labels to the data we had
result_df = pd.concat([lb_results_df,df_algae], axis=1) 
res_1=result_df.copy()

cat_df_algae_onehot_sklearn = cat_df_algae.copy()
from sklearn.preprocessing import LabelBinarizer
lb = LabelBinarizer()
lb_results = lb.fit_transform(cat_df_algae_onehot_sklearn['Speed'])
lb_results_df = pd.DataFrame(lb_results, columns=lb.classes_)
result_df = pd.concat([lb_results_df,df_algae_fin], axis=1)
res_2=result_df.copy()
res_2 = pd.concat([lb_results_df,res_1], axis=1)

cat_df_algae_onehot_sklearn = cat_df_algae.copy()
from sklearn.preprocessing import LabelBinarizer
lb = LabelBinarizer()
lb_results = lb.fit_transform(cat_df_algae_onehot_sklearn['Season'])
lb_results_df = pd.DataFrame(lb_results, columns=lb.classes_)
result_df = pd.concat([lb_results_df,df_algae_fin], axis=1)
res_3=result_df.copy()

# Drop catagorical data columns
res = pd.concat([lb_results_df,res_2], axis=1)
res=res.drop(['Size', 'Season','Speed'], axis=1)

# Save polished data in new file
res.to_excel("data/polished_test_data.xls")
res.to_csv("data/polished_test_data.csv", index = False)
res.head()

,autumn,spring,summer,winter,high__,low___,medium,large_,medium,small_,...,F6,F7,F8,Algae 1,Algae 2,Algae 3,Algae 4,Algae 5,Algae 6,Algae 7
0,0,0,0,1,0,0,1,0,0,1,...,33.333,138.000,7.1,1.2,0.0,0.0,0.0,23.2,46.4,0.0
1,0,0,1,0,0,0,1,0,0,1,...,47.857,113.714,4.5,7.0,23.0,6.5,1.4,21.2,0.0,2.1
2,0,1,0,0,1,0,0,0,0,1,...,45.200,111.800,3.2,1.4,38.2,2.4,0.0,4.8,1.0,1.2
3,0,1,0,0,0,0,1,0,0,1,...,6.000,40.000,2.0,3.9,55.4,8.4,0.0,0.0,0.0,0.0
4,0,0,1,0,0,0,1,0,0,1,...,5.000,10.507,13.8,28.4,2.4,0.0,0.0,0.0,0.0,4.6

# END OF DATA POLISHING !
 ***********************************************************************************************

# Using Support Vector Regression method (sklearn library) :

In [68]:
from sklearn.svm import SVR
import pandas as pd
import numpy as np
from sklearn.svm import SVR
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error as mse
%matplotlib inline

In [98]:
# Function to calculate mean absolute error
def mae(y_true, y_pred):
    return np.mean(abs(y_true - y_pred))

# Takes in a model, trains the model, and evaluates the model on the test set
def fit_and_evaluate(model):
    
    # Train the model
    model.fit(x_train, y_train)
    
    # Make predictions and evalute
    # check the model correctly predicts the training data
    Y_pred_train = model.predict(x_train)
    Y_mae_train = np.round(mae(y_train, Y_pred_train), decimals=3)
    Y_nmse_train = np.round(
            mse(normalize(y_train.reshape(-1, 1)),
                normalize(Y_pred_train.reshape(-1, 1))), 
        decimals=3)

    # predict the real data
    Y_pred_test = model.predict(x_test)   
    Y_mae_test = np.round(mae(y_test, Y_pred_test), decimals=3)
    Y_nmse_test = np.round(
            mse(normalize(y_test.reshape(-1, 1)),
                normalize(Y_pred_test.reshape(-1, 1))), 
        decimals=3)
      
    # baseline performance
    baseline_guess = np.median(y_train)
    Y_mae_baseline = np.round(mae(y_test, baseline_guess), decimals=3)

    
    Y_nmse_baseline = np.round(
        mse(normalize(y_test.reshape(-1, 1)),
            normalize(np.full_like(y_test.reshape(-1, 1),
                      baseline_guess))), 
        decimals=3)
    
#     # fit and predict can be done in s single step
#     Y_pred_train = model.fit(x_train, y_train).predict(x_train) 
#     Y_pred_test = model.fit(x_train, y_train).predict(X_test) 

    # Return the performance metric
    return Y_pred_train, Y_mae_train, Y_nmse_train, Y_pred_test, Y_mae_test, Y_nmse_test, Y_mae_baseline, Y_nmse_baseline

In [99]:
# Defining the columns in a list in order to use it in the for loop
algae_type=['Algae 1','Algae 2','Algae 3','Algae 4','Algae 5','Algae 6','Algae 7'] 

# this counter is used to call each algae type (for the plots and other printing porpuses)
counter=0; 
plt.rcParams['figure.figsize'] = [20, 10]

# y is the algae concentration
# x is the features 
from sklearn.preprocessing import normalize

# this for loop will run for each algae type once 
for A in algae_type: 
    counter=counter+1
    
    # reading the training dataset (we generated this before) 
    x_train_ = pd.read_csv('data/polished_train_data.csv').drop(columns=algae_type, axis=1) 
    y_train_ = pd.read_csv('data/polished_train_data.csv', usecols=[A])
    # dataframe --> array
    x_train = x_train_.values
    y_train = y_train_.values.ravel() # Convert y to one-dimensional array (vector)
    
    #reading the test data set (we generated this before)
    x_test_ = pd.read_csv('data/polished_test_data.csv').drop(columns=algae_type, axis=1) 
    y_test_ = pd.read_csv('data/polished_test_data.csv', usecols=[A])
    # dataframe --> array
    x_test = x_test_.values
    y_test = y_test_.values.ravel() # Convert y to one-dimensional array (vector)
    
#     print(x_train.shape)
#     print(x_test.shape)
#     print(y_train.shape)
#     print(y_test.shape)
#     print()
    print(f"{A}") 
    
    # LinearRegression
    mod = 'Linear Regression'
    pred_train, mae_train, nmse_train, pred_test, mae_test, nmse_test, mae_baseline, nmse_baseline = fit_and_evaluate(LinearRegression())
    print(f"{ mod } Performance : \n" +
          f"train set : MAE = {mae_train}, NMSE = {nmse_train} \n" +
          f"test set : MAE = { mae_test},  NMSE = {nmse_test} \n" +
          f"baseline : MAE = { mae_baseline}, NMSE = { nmse_baseline}")
    print()
    
    # SVR
    mod = 'SVR'
    pred_train, mae_train, nmse_train, pred_test, mae_test, nmse_test, mae_baseline, nmse_baseline = fit_and_evaluate(SVR())
    print(f"{ mod } Performance : \n" +
          f"train set : MAE = {mae_train}, NMSE = {nmse_train} \n" +
          f"test set : MAE = { mae_test},  NMSE = {nmse_test} \n" +
          f"baseline : MAE = { mae_baseline}, NMSE = { nmse_baseline}")
    print()
    
    # SVR, optimised
    mod = 'SVR, optimised'
    pred_train, mae_train, nmse_train, pred_test, mae_test, nmse_test, mae_baseline, nmse_baseline = fit_and_evaluate(SVR(kernel='rbf', C=500, gamma=.0001) )
    print(f"{ mod } Performance : \n" +
          f"train set : MAE = {mae_train}, NMSE = {nmse_train} \n" +
          f"test set : MAE = { mae_test},  NMSE = {nmse_test} \n" +
          f"baseline : MAE = { mae_baseline}, NMSE = { nmse_baseline}")
    print()
    
    
    print()
    
    

      # defining the model. There is no way to decide the values analytically 
#     svr_rbf = SVR(kernel='rbf', C=500, gamma=.0001) 
    
#     # Estimating the y value used in training. 
#     # Here we want to see if the model fit even the training data
#     y_rbf = svr_rbf.fit(xtrain, ytrain.ravel()).predict(xtrain) 
#     y_rbf_eval = svr_rbf.fit(xtrain,ytrain.ravel()).predict(xtest) #Estimating y values using our x in the test dataset. 
    
    
#     plt.figure(counter)
#     # PLOT MODEL PREDICTION (TRAINING DATA) AND REAL DATA 
#     plt.subplot(2, 2, 1)
#     plt.plot(pred_train,'b', label="predicted")
#     plt.plot(y_train,'r', label="real")
#     plt.legend()
#     plt.title(f'Training data evaluation for {i}')
    
#     # PLOT MODEL PREDICTION (TEST DATA) AND REAL DATA 
#     plt.subplot(2, 2, 2)
#     plt.plot(pred_test,'b', label="predicted")
#     plt.plot(y_test,'r', label="real")
#     plt.legend()
#     plt.title(f'Test data evaluation for {i}')
    
# #     # PLOT MODEL PREDICTION (TEST DATA) AGAINST REAL DATA
# #     plt.subplot(2, 2, 3)
# #     plt.scatter(pred_test, y_test)
# #     #plt.hold(True) 
# #     a=np.arange(max(ytest))
# #     plt.plot(a)
# #     textt='Predicted data vs Real data for algae'+str(counter)
# #     plt.title(textt)
    
#     # To evaluate, I used normalized squared error value 
#     # as it was used in the project (http://rstudio-pubs-static.s3.amazonaws.com/146279_4ee556bf205946dfb29d029c4e463557.html)in the very end!
#     # This is how NMSE is being calculated in R 
#     yteset_normalized=normalize(ytest) 
#     y_rbf_eval_normalized=normalize(y_rbf_eval.reshape(-1, 1))
#     print ("Normalized Mean Squared Error Value for algae", counter, "is" , mean_squared_error(yteset_normalized,y_rbf_eval_normalized))

Algae 1
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
(115, 1)
(115, 1)
Linear Regression Performance :
train set : MAE = 12.278, NMSE = 0.587
test set : MAE = 11.961,  NMSE = 0.53
baseline : MAE = 12.239, NMSE = 0.183

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
(115, 1)
(115, 1)
SVR Performance :
train set : MAE = 13.362, NMSE = 0.18
test set : MAE = 12.098,  NMSE = 0.183
baseline : MAE = 12.239, NMSE = 0.183

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
(115, 1)
(115, 1)
SVR, optimised Performance :
train set : MAE = 5.332, NMSE = 0.228
test set : MAE = 12.709,  NMSE = 0.357
baseline : MAE = 12.239, NMSE = 0.183


Algae 2
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
(115, 1)
(115, 1)
Linear Regression Performance :
train set : MAE = 6.287, NMSE = 0.383
test set : MAE = 7.823,  NMSE = 0.548
baseline : MAE = 6.555, NMSE = 0.304

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
(115, 1)
(115, 1)
SVR Performance :
train set : MAE = 6.252, NMSE = 0.335
test set : MAE = 6.474,  NMSE = 0.304
baseline : MAE = 6.555, NMSE = 0.304

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
(115, 1)
(115, 1)
SVR, optimised Performance :
train set : MAE = 1.737, NMSE = 0.335
test set : MAE = 9.498,  NMSE = 0.548
baseline : MAE = 6.555, NMSE = 0.304


Algae 3
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
(115, 1)
(115, 1)
Linear Regression Performance :
train set : MAE = 4.49, NMSE = 0.413
test set : MAE = 4.348,  NMSE = 0.548
baseline : MAE = 3.62, NMSE = 0.443

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
(115, 1)
(115, 1)
SVR Performance :
train set : MAE = 3.637, NMSE = 0.317
test set : MAE = 3.553,  NMSE = 0.443
baseline : MAE = 3.62, NMSE = 0.443

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
(115, 1)
(115, 1)
SVR, optimised Performance :
train set : MAE = 1.569, NMSE = 0.341
test set : MAE = 4.793,  NMSE = 0.826
baseline : MAE = 3.62, NMSE = 0.443


Algae 4
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
(115, 1)
(115, 1)
Linear Regression Performance :
train set : MAE = 1.25, NMSE = 0.569
test set : MAE = 1.49,  NMSE = 0.635
baseline : MAE = 1.269, NMSE = 0.4

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
(115, 1)
(115, 1)
SVR Performance :
train set : MAE = 0.79, NMSE = 0.569
test set : MAE = 1.361,  NMSE = 0.6
baseline : MAE = 1.269, NMSE = 0.4

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
(115, 1)
(115, 1)
SVR, optimised Performance :
train set : MAE = 0.27, NMSE = 0.569
test set : MAE = 1.951,  NMSE = 0.809
baseline : MAE = 1.269, NMSE = 0.4


Algae 5
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
(115, 1)
(115, 1)
Linear Regression Performance :
train set : MAE = 4.48, NMSE = 0.329
test set : MAE = 5.641,  NMSE = 0.322
baseline : MAE = 6.161, NMSE = 0.287

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
(115, 1)
(115, 1)
SVR Performance :
train set : MAE = 4.034, NMSE = 0.329
test set : MAE = 6.041,  NMSE = 0.287
baseline : MAE = 6.161, NMSE = 0.287

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
(115, 1)
(115, 1)
SVR, optimised Performance :
train set : MAE = 1.09, NMSE = 0.329
test set : MAE = 6.107,  NMSE = 0.843
baseline : MAE = 6.161, NMSE = 0.287


Algae 6
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
(115, 1)
(115, 1)
Linear Regression Performance :
train set : MAE = 5.787, NMSE = 0.569
test set : MAE = 8.642,  NMSE = 0.487
baseline : MAE = 8.053, NMSE = 0.452

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
(115, 1)
(115, 1)
SVR Performance :
train set : MAE = 5.008, NMSE = 0.497
test set : MAE = 7.975,  NMSE = 0.452
baseline : MAE = 8.053, NMSE = 0.452

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
(115, 1)
(115, 1)
SVR, optimised Performance :
train set : MAE = 1.317, NMSE = 0.497
test set : MAE = 9.367,  NMSE = 0.696
baseline : MAE = 8.053, NMSE = 0.452


Algae 7
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
(115, 1)
(115, 1)
Linear Regression Performance :
train set : MAE = 3.173, NMSE = 0.593
test set : MAE = 3.009,  NMSE = 0.817
baseline : MAE = 1.793, NMSE = 0.609

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
(115, 1)
(115, 1)
SVR Performance :
train set : MAE = 1.829, NMSE = 0.473
test set : MAE = 1.726,  NMSE = 0.609
baseline : MAE = 1.793, NMSE = 0.609

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
(115, 1)
(115, 1)
SVR, optimised Performance :
train set : MAE = 0.716, NMSE = 0.497
test set : MAE = 3.315,  NMSE = 0.957
baseline : MAE = 1.793, NMSE = 0.609